<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Search</title>
</head>
<body>
    <form action ="/result" method="get">
        <div class="mb-3 mt-3">
            <label for="nome_prodotto" class="form-label">Nome prodotto: </label>
            <input type="text" class="form-control" id="nome_prodotto" placeholder="inserisci il nome del prodotto: " name="nome_prodotto">
        </div>
        <input type="submit" id="Ricerca">
    </form>
</body>
</html>